.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 5rem;
  /* background-color: lightblue; */
}

.table-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* background-color: aquamarine; */
  border: solid 1px white;
  border-radius: 4px;
  padding: 1.5rem;
  width: 400px;
  height: 150px;
}
