.topbar {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 5rem;
	/* background-color: lightblue; */
	background-color: #404040;
	padding-left: 6rem;
	z-index: 1;
  }
  
  .toplink {
	padding: 0.5rem 2rem;
	will-change: filter;
	transition: filter 300ms;
  }
  .toplink:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
  }
  .toplink:focus {
	filter: drop-shadow(0 0 2em #646cffaa);
  }
  .toplink.apt:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
  }
  .toplink.apt:focus {
	filter: drop-shadow(0 0 2em #61dafbaa);
  }